@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Tilt+Neon&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    font-family: 'Tilt Neon', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
    margin-bottom: 15px;
}

.section {
    padding: 15px 55px;
    width: 630px;
    margin: auto;
    margin-bottom: 30px;
}

.myself {
    background-color: beige;
}

.hobby {
    margin-left: 15px;
    font-size: medium;
    font-style: oblique;
}

.block {
    margin-bottom: 25px;
}

.table {
    border-top: 3px blue solid;
}

.title {
    letter-spacing: 5px;
    color: brown;
    margin-bottom: 3px;
}

.article {
    border: 3px khaki dotted;
    background-color: deepskyblue;
    border-radius: 11px;
}

.communication {
    background-color: darkgray;
}

.communication textarea, .communication input {
    background-color: grey;
    border: 1px darkslategray solid;
    flex: 4;
    outline: none;
}

.flexcontainer{
    display: flex;
    padding-bottom: 20px;
}

.flexdirection{
    flex-direction: column;
}

.communication label{
    flex: 1;
    align-self: center;
}

.communication button{
    display: block;
    width: fit-content;
    margin: auto;
}